# Credenciais de conexão com o Banco de Dados do Supabase
# Renomeie este arquivo para .env e preencha as variáveis com os dados do painel do seu projeto.

VITE_SUPABASE_URL=https://seuid-supabase.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-publica-aqui
